<div class="center-container bg-white">
  <div class="flex min-h-screen">
    <div
      class="hidden lg:flex flex-col justify-between bg-[#ffe85c] lg:p-8 xl:p-12 lg:max-w-sm xl:max-w-lg"
    >
      <div class="flex items-center justify-start space-x-3">
        <span class="bg-black rounded-full w-8 h-8"></span>
        <a href="#" class="font-medium text-xl">InnovaTube</a>
      </div>
      <div class="space-y-5">
        <h1 class="lg:text-3xl xl:text-5xl xl:leading-snug font-extrabold">
          Welcome back! Log in to discover new videos everyday
        </h1>
        <p class="text-lg">Don't have an account?</p>
        <button
          class="inline-block flex-none px-4 py-3 border-2 rounded-lg font-medium border-black bg-black text-white"
        >
          <a href="/register">Sign Up here</a>
        </button>
      </div>
      <p class="font-medium">© 2025 InnovaTube</p>
    </div>

    <div
      class="flex flex-1 flex-col items-center justify-center px-10 relative"
    >
      <div class="flex lg:hidden justify-between items-center w-full py-4">
        <div class="flex items-center justify-start space-x-3">
          <span class="bg-black rounded-full w-6 h-6"></span>
          <a href="/login" class="font-medium text-lg">InnovaTube</a>
        </div>
        <div class="flex items-center space-x-2">
          <span>New to InnovaTube? </span>
          <a href="/register" class="underline font-medium text-[#070eff]">
            Sign up here
          </a>
        </div>
      </div>

      <div class="flex flex-1 flex-col justify-center space-y-5 max-w-md">
        <div class="flex flex-col space-y-2 text-center">
          <h2 class="text-3xl md:text-4xl font-bold">Log in to your account</h2>
        </div>

        
          <div class="container flex flex-col max-w-md space-y-5">
            <ng-container *ngIf="showUsernameField; else showEmailField">
              <input
                id="floatingUsername"
                class="flex px-3 py-2 md:px-4 md:py-3 border-2 border-black rounded-lg font-medium placeholder:font-normal"
                placeholder="Username"
                [(ngModel)]="username"
                type="text"
                name="username"
                required
              />
            </ng-container>

            <ng-template #showEmailField>
              <input
                id="floatingInput"
                class="flex px-3 py-2 md:px-4 md:py-3 border-2 border-black rounded-lg font-medium placeholder:font-normal"
                placeholder="Email"
                [(ngModel)]="email"
                type="email"
                name="email"
                required
                email
              />
            </ng-template>

            <input
              id="floatingPassword"
              type="password"
              class="flex px-3 py-2 md:px-4 md:py-3 border-2 border-black rounded-lg font-medium placeholder:font-normal"
              [(ngModel)]="password"
              placeholder="Password"
              name="password"
              required
              minlength="6"
            />

            <div class="example-button-row flex flex-col max-w-md space-y-5">
              <button
                  class="flex items-center justify-center flex-none px-3 py-2 md:px-4 md:py-3 border-2 rounded-lg font-medium border-black bg-black text-white"
                  (click)="logIn()"
                  type="button"
                >
                  Sign Up
                </button>
              <button
                type="button"
                class="text-blue-500 underline cursor-pointer"
                (click)="toggleUsernameField()"
              >
                Sign In with {{ showUsernameField ? "Email" : "Username" }}
              </button>
            </div>
          </div>
        
      </div>
    </div>
  </div>
</div>
